# compiled output
/dist/
/tmp/

# misc
/.editorconfig
/.ember-cli
/.eslintignore
/.eslintrc.js
/.gitignore
/.template-lintrc.js
/.travis.yml
/.watchmanconfig
/config/ember-try.js
/ember-cli-build.js
/testem.js
/tests/
/yarn.lock
.gitkeep

# ember-try
/.node_modules.ember-try/
/package.json.ember-try

# typescript
#
# avoid publishing .d.ts or .ts files
# until they have become enforced "public" APIs
*.ts