# npm / pnpm settings here

# as a library, we want to make sure we explicitly handle peers,
# and not rely on hidden behavior of package-managers.
auto-install-peers=false

# we never want to use packages from the registry over what's in the workspace
prefer-workspaces-packages=true
